include ../mixins/control
include ../mixins/progress

section#order-confirm
  div.row
    div.col-md-6.col-md-offset-3
      +progress(75)
  div.row
    div.col-md-4.col-md-offset-2
      form(role='form', autocomplete='on')
        fieldset
          div.row
            div.col-md-12
              div.form-group
                input.form-control(type='checkbox')
                p.text-center
                  | Hiermit erkläre ich mich mit den für diese Seite geltenden
                  a(href='/legal/terms')
                    |  Allgemeinen Geschäftsbedingungen
                  | einverstanden.
          button.btn.btn-sm.btn-primary Abschicken
    div.col-md-4
      h4.text-center Bestellübersicht
      p.text-justify
        | Bitte prüfen Sie die von Ihnen eingetragene Bestellinformationen
        | ein letztes Mal. Nach dem Abschicken erhalten Sie dann Ihre 
        | Bestellbestätigung.
