<div id="order-goodbye">
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="100"
      aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
      <span class="sr-only">100% Complete</span>
    </div>
  </div>
  <div class="col-md-12">
    <h4 class="headline-md text-center">Vielen Dank</h4>
    <p class="paragraph-md text-center">
      Ihre Bestellung ist bei uns eingegangen und wird nach Geldeingang sofort
      bearbeitet. Bis zum nächsten Mal können Sie noch festlegen, ob wir Ihre
      Kundendaten für den nächsten Einkauf in Ihrem Browser speichern sollen.
    </p>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <form class="form">
      <fieldset>
        <div class="form-group">
          <input id="save" name="save" type="checkbox" />
          <span class="paragraph-xs text-center">
            Kundendaten in Browser speichern
          </span>
        </div>
      </fieldset>
    </form>
  </div>
</div>
