div#order-goodbye
  div.progress
    div.progress-bar(style='width: 100%;')
  div.row
    div.col-md-12
      h4.headline-md.text-center Vielen Dank
      p.paragraph-md.text-center
        | Ihre Bestellung ist bei uns eingegangen und wird nach Geldeingang sofort
        | bearbeitet. Bis zum nächsten Mal können Sie noch festlegen, ob wir Ihre
        | Kundendaten für den nächsten Einkauf in Ihrem Browser speichern sollen.
  div.row
    div.col-md-6.col-md-offset-3
      form
        fieldset
          div.row
            div.col-md-12
              div.form-group
                input(type='checkbox')
                span.paragraph-xs.text-center
                  | Kundendaten in Browser speichern
