li.list-group-item
  div.list-group-item-header
    button.close &times;
    h5.text-left #{item && item.name}
  div.list-group-item-text
    p.text-left
    p.text-right
      #{item && item.quantity} x #{item && item.pricing}
