div#order-confirm
  div.progress
    div.progress-bar(style='width: 75%;')
  form
    fieldset
      div.row
        div.col-md-12
          div.form-group
            input.form-control(type='checkbox')
            p.paragraph-sm
              | Hiermit erkläre ich mich mit den für diese Seite geltenden
              a(href='/legal/terms') Allgemeinen Geschäftsbedingungen
              | einverstanden.
      button.btn.btn-sm.btn-primary Abschicken
