extends ../layout/index

block content
  section#order
    div.container
      div.page-header
        h2.headline-xl.text-center Warenkorb
      div.row
        div.col-md-8.col-md-offset-2
          div#inner
            if orderList
              include list
