div#order-invoice
  div.progress
    div.probess-bar(style='width: 50%;')
  form
    fieldset
      div.row
        div.col-md-6
          div.form-group
            label.control-label Vorname:
            input.form-control(type='text')
        div.col-md-6
          div.form-group
            label.control-label Nachname:
            input.form-control(type='text')
      div.row
        div.col-md-12
          div.form-group
            label.control-label Email:
            input.form-control(type='email')
      div.row
        div.col-md-8
          div.form-group
            label.control-label Straße:
            input.form-control(type='text')
        div.col-md-4
          div.form-group
            label.control-label Nr.:
            input.form-contorl(type='text')
      div.row
        div.col-md-6
          div.form-group
            label.control-label Postleitzahl:
            input.form-control(type='number')
        div.col-md-6
          div.form-group
            label.control-label Ort:
            input.form-control(type='text')
      button.btn.btn-sm.btn-primary Forfahren
