# logs
*.log

# builds
public/javascripts/build.js
public/stylesheets/build.css

# temporary
*.swp

# filesystem
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# packages
node_modules
