include ../../mixins
extends ../../layout

block content
  section#order-invoice
    div.row
      div.col-xs-8.col-xs-offset-2
        h4.text-center Rechnungsinformationen
        +progress(25)
    div.row
      div.col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-1
        p.text-justify
          | Bitte tragen Sie hier Ihre Rechnungsinformationen ein. Sie bekommen
          | eine vorläufige Rechnung per Email auf die hier bestimmten
          | Informationen. In der Warensendung ist zustäzlich eine gedruckte
          | Rechnung vorhanden.
			div.col-xs-10.col-xs-offset-1.col-md-5.col-md-offset-0
				include form
