{% spaceless %}
<aside id="sidebar" class="col-md-4 aside aside-inverse">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header text-center">
        <div class="btn-group btn-group-md">
          <button class="btn btn-primary">Details</button> 
          <button class="btn btn-primary">Warenkorb</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div id="details">
        <p class="text-md text-justify">
          {% if not product %}
          Klicken Sie auf ein Produkt um die Detail-Ansicht zu aktivieren.
          {% else %}
          {{ product.description }}
          {% endif %}
        </p>
        <ul class="list-unstyled list-md">
          <li>
            <button class="btn btn-primary btn-sm" name="add">
              Hinzufügen
            </button>
          </li>
        </ul>
      </div>
      <div id="shopping-cart"></div>
    </div>
  </div>
</aside>
{% endspaceless %}
