<section id="legal">
  <section class="section">
    <div class="container">
      <div class="page-header">
        <h2 class="text-center">Rechtliches</h2>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
          <p class="text-center text-lg">
            Bitte nehmen Sie folgende rechtliche Informationen zur Kenntnis.
          </p>
        </div>
      </div>
    </div>
  </section>
  {% include './imprint.html' %}
  {% include './privacy.html' %}
  {% include './liability.html' %}
</section>
