<section id="imprint" class="section">
  <div class="container">
    <div class="page-header">
      <h3 class="text-center">Impressum</h3>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <p class="text-center text-md">
          Angaben gemäß § 5 TMG:
          <br />
          Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
        </p>
        <address class="text-center text-md">
          Bodo Kaiser
          <br />
          Geiserichstraße 3, 12105 Berlin
          <br />
          Mobil:
          <a href="tel:+491622635326">+49 162 2635 326</a>
          <br />
          E-Mail:
          <a href="mailto:info@satisfeet.me">info@satisfeet.me</a>
        </address>
      </div>
    </div>
  </div>
</section>
