<section id="liability" class="section">
  <div class="container">
    <div class="page-header">
      <h3 class="text-center">Haftungsausschluss</h3>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <h4 class="text-center">Inhalte</h4>
        <p class="text-justify text-md">
          Trotz sorgfältiger Prüfung der Inhalte können wir keine rechtliche
          Korrektheit gewährleisten. Sollte Ihnen einen inhaltlicher
          Rechtsverstoß auffallen, bitte ich Sie dies mitzuteillen.
          Der betreffende Teil wird dann umgehend entfernt.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <h4 class="text-center">Verweise</h4>
        <p class="text-justify text-md">
          Wir haften nicht für den Inhalt auf verlinkter Inhalte. Sollte Ihnen
          trotzdem ein Rechtsverstoß unter einem betreffenden Link auffallen,
          so ist es möglich diesen Link zu entfernen. Für weitere Schritte
          melden Sie sich bitte bei dem Verantwortlichen für den Inhalt hinter
          dem Link.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <h4 class="text-center">Urheberrecht</h4>
        <p class="text-justify text-md">
          Die auf unserer Webseite verwendetetn Marken- und Warenzeichen
          unterliegen uneingeschränkt den Bestimmungen jeweils gültigen
          Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen
          Eigentümer.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <h4 class="text-center">Rechtsverstöße</h4>
        <p class="text-justify text-md">
          Sollten Ihnen andere, nicht genannte Rechtsverstöße auf dieser Seite
          auffallen, so bitte ich Sie, diese unverzüglich dem Betreiber diese
          Homepage mitzuteilen und eine Frist von einen Monat zur Änderung des
          zu Beanstandenden bereit zu stellen.
        </p>
      </div>
    </div>
  </div>
</section>
