extends layout/base

- var title = 'Ihre Bestellung bei satisfeet';

block content
  div.content
    h2.text-center Neue Bestellung ist eingegangen.
    h3.text-center Rechnungsnummer:
      - var object = JSON.stringify(order);
      p= object
