extends ../layout/index

block content
  section#legal
    div.container
      div.page-header
        h2.headline-xl.text-center Rechtliche Informationen
      div.row
        div.col-md-10.col-md-offset-1
          include imprint
          include privacy
          include liability
