section#liability.section
  div.row
    div.col-sm-10.col-md-10.col-sm-offset-1.col-md-offset-1
      h3.headline-sm.text-center Haftungsausschluss
      p.paragraph-sm.text-justify
        | Trotz sorgfältiger Prüfung der Inhalte können wir keine rechtliche
        | Korrektheit gewährleisten. Sollte Ihnen einen inhaltlicher
        | Rechtsverstoß auffallen, bitte ich Sie dies mitzuteillen.
        | Der betreffende Teil wird dann umgehend entfernt.
      p.paragraph-sm.text-justify
        | Wir haften nicht für den Inhalt auf verlinkter Inhalte. Sollte Ihnen
        | trotzdem ein Rechtsverstoß unter einem betreffenden Link auffallen,
        | so ist es möglich diesen Link zu entfernen. Für weitere Schritte
        | melden Sie sich bitte bei dem Verantwortlichen für den Inhalt hinter
        | dem Link.
      p.paragraph-sm.text-justify
        | Die auf unserer Webseite verwendetetn Marken- und Warenzeichen
        | unterliegen uneingeschränkt den Bestimmungen jeweils gültigen
        | Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen
        | Eigentümer.
      p.paragraph-sm.text-justify
        | Sollten Ihnen andere, nicht genannte Rechtsverstöße auf dieser Seite
        | auffallen, so bitte ich Sie, diese unverzüglich dem Betreiber diese
        | Homepage mitzuteilen und eine Frist von einen Monat zur Änderung des
        | zu Beanstandenden bereit zu stellen.
