doctype html
html
  head
    title satisfeet: Endlich nachhaltige Socken
    meta(charset='utf-8')
    meta(name='author', content='Bodo Kaiser')
    meta(name='keywords', content='Socken, satisfeet, Kaufen, Shop, Store, Online')
    meta(name='description', content='Endlich nachhaltige Socken kaufen können!')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='/images/brand/small.svg')
    link(rel='stylesheet', href='/stylesheets/build.css')
  body
    include include/header
    include include/content
    include include/footer
    include include/script
