.btn {
  background: @white;
}

.btn-primary {
  background: @blue;
  border: none;
}

.close {
  color: @white;
  opacity: 0.6;
  transition: 0.2s all;
}

.close:hover {
  color: @white;
  opacity: 1 !important;
}
