.btn {
  background: @white;
  transition: 0.6s;
}

.btn-lg {
  font-size: 16px;
  border-radius: 4px;
}

.btn-primary {
  background: @olive;
  border: none;
}

.btn-primary:hover {
  background: @blue;
}

.close {
  color: @white;
  opacity: 0.6;
  transition: 0.2s all;
}

.close:hover {
  color: @white;
  opacity: 1 !important;
}
