.list {
  font-style: @font-style;
  font-family: @font-family;
  font-weight: @font-weight-sm;
}

.list-squared {
  list-style: square;
}

.list-sm:extend(.list) {
  font-size: @font-size-xs;
}

.list-md:extend(.list) {
  font-size: @font-size-sm;
}

.list-lg:extend(.list) {
  font-size: @font-size-md;
}

.list-group-item {
  background: none;
}
