@font-face {
  font-family: 'ralweway';
  font-weight: 100;
  font-style: normal;
  src: url('/fonts/raleway.eot');
  src: url('/fonts/raleway.eot?#iefix') format('embedded-opentype'),
       url('/fonts/raleway.woff') format('woff'),
       url('/fonts/raleway.ttf') format('truetype');
}

@font-family: 'raleway', 'Neue Helvetica', 'Helvetica';

@font-weight-sm: 100;
@font-weight-md: 200;

@font-style: normal;

@font-size-xs: 14px;
@font-size-sm: 16px;
@font-size-md: 18px;
@font-size-lg: 20px;
@font-size-xl: 24px;
@font-size-xxl: 28px;
@font-size-xxxl: 32px;
