<section id="solution" class="section">
  <div class="container">
    <div class="page-header text-center">
      <h2 class="headline-xl">Gemeinschaft</h2>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="text-center">
          <h3 class="headline-md">Dabei sein</h3>
          <p class="paragraph-md">
            Werde teil unserer Bewegung....
            Werde teil unserer Bewegung....
            Werde teil unserer Bewegung....
            Werde teil unserer Bewegung....
            Werde teil unserer Bewegung....
            Werde teil unserer Bewegung....
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-2 col-md-offset-1">
        <a class="thumbnail" href="http://twitter.com/satisfeetsocial">
          <img class="img-responsive" src="/images/icons/twitter.svg" />
        </a>
      </div>
      <div class="col-sm-4 col-md-2 col-md-offset-2">
        <a class="thumbnail" href="mailto:info@satisfeet.me">
          <img class="img-responsive" src="/images/icons/email.svg" />
        </a>
      </div>
      <div class="col-sm-4 col-md-2 col-md-offset-2">
        <a class="thumbnail" href="https://www.facebook.com/satisfeetofficial">
          <img class="img-responsive" src="/images/icons/facebook.svg" />
        </a>
      </div>
    </div>
  </div>
</section>
