<section id="solution" class="section">
  <div class="container">
    <div class="page-header">
      <h2 class="text-center">Lösung</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <p class="text-center text-lg">
          Die Lösung des Problems liegt in einem Socken Vetrieb dem du 
          vertrauen kannst. Am Besten du besuchst unseren Shop für mehr infos.
        </p>
        <p class="text-center">
          <a class="btn btn-lg btn-primary" href="/store">Auf zum Shop</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-2 col-md-offset-1">
        <a class="thumbnail" href="http://twitter.com/satisfeetsocial">
          <img class="img-responsive" src="/images/icons/twitter.svg" />
        </a>
      </div>
      <div class="col-sm-4 col-md-2 col-md-offset-2">
        <a class="thumbnail" href="mailto:info@satisfeet.me">
          <img class="img-responsive" src="/images/icons/email.svg" />
        </a>
      </div>
      <div class="col-sm-4 col-md-2 col-md-offset-2">
        <a class="thumbnail" href="https://www.facebook.com/satisfeetofficial">
          <img class="img-responsive" src="/images/icons/facebook.svg" />
        </a>
      </div>
    </div>
  </div>
</section>
