article#credits
  h4.text-center Danksagung
  p.text-justify
    | Vielen Dank an jeden der mich bei satisfeet, sei es durch
    | Motivation, Kritik, Ratschläge oder Ähnliches
    | unterstützt. Ohne Euch wäre satisfeet nicht möglich
    | gewesen.
