extends layout/base

block meta
  meta(charset='utf-8')
  meta(name='author', content='Bodo Kaiser')
  meta(name='keywords', content='Socken, satisfeet, Kaufen, Shop, Store, Online')
  meta(name='description', content='Endlich gute Socken kaufen können!')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

block link
  link(rel='icon', href='/images/brand/small.svg')
  link(rel='stylesheet', href='/stylesheets/build.css')

block main
  include layout/header
  include layout/content
  include layout/footer

block script
  script(src='/javascripts/build.js')
