extends ../layout/index

block content
  section#about.section
    div.container
      div.page-header
        h2.headline-xl.text-center Über uns
      div.row
        div.col-sm-10.col-md-10.col-sm-offset-1.col-md-offset-1
          section#credits.section
            div.row
              div.col-sm-8.col-md-8.col-sm-offset-2.col-md-offset-2
                h4.headline-md.text-center Danksagung
                p.paragraph-md.text-center
                  | Vielen Dank an alle die mich bei satisfeet, sei es durch
                  | Motivation, Kriitk, Ratschläge, Likes oder Ähnliches
                  | unterstützen. Ohne Euch wäre satisfeet nicht möglich
                  | gewesen.

