<div id="product-info" data-id="{{ product._id }}">
  <div class="col-md-6">
    <div class="thumbnail">
      <img class="responsive" src="{{ product.images.main.path }}" />
    </div>
  </div>
  <div class="col-md-6">
    {% raw %}
    <div class="col-md-8 col-md-offset-2">
      <h3 class="headline-lg text-center">{{ product.name }}</h3>
      <p class="paragraph-md text-justify">{{ product.description.extended }}</p>
      <hr />
      <ul class="list-md list-unstyled text-right">
        {% for element in product.elements %}
        <li>{{ loop.key }}: {{ element }}</li>
        {% endfor %}
      </ul>
      <hr />
      <form class="form" role="form">
        <div class="form-group col-md-8 col-md-offset-2">
          <div class="input-group">
            <input id="quantity" class="form-control input-sm" type="number" 
              name="quantity" value="1" />
            <span class="input-group-btn">
              <button class="btn btn-sm btn-primary">Hinzufügen</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    {% endraw %}
  </div>
</div>
