article#credits
  h4.text-center Danksagung
  p.text-justify
    | Vielen Dank an alle die mich bei satisfeet, sei es durch
    | Motivation, Kriitk, Ratschläge, Likes oder Ähnliches
    | unterstützen. Ohne Euch wäre satisfeet nicht möglich
    | gewesen.
