<section id="credits" class="section">
  <div class="container">
    <div class="page-header">
      <h3 class="text-center">Danksagung</h3>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
        <p class="text-center text-md">
          Vielen Dank an alle die mich bei satisfeet, sei es
          durch Motivation, Kritik, Ratschläge, Likes oder ähnlich,
          unterstützen. Ohne Euch wäre satisfeet nicht möglich
          gewesen!
        </p>
      </div>
    </div>
  </div>
</section>
