section#about
  div.row
    div.col-md-3.col-md-offset-1
      h3.text-center Informationen
      ul.nav.nav-pills.nav-stacked
        li: a(href='/about#credits') Danksagung
    div.col-md-7
      div.row
        div.col-md-10.col-md-offset-1
          include credits

