section#about
  div.row
    div.col-sm-3.col-md-3.col-md-offset-1.hidden-xs
      ul.nav.nav-pills.nav-stacked
        li: a(href='/about#release') Entstehung
        li: a(href='/about#credits') Danksagung
    div.col-sm-9.col-md-7
      div.row
        div.col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-1.col-lg-12
          article#release
            h4.text-center Entstehung
            p.text-justify
              | Die bewusste Idee einen Online Handel zu errichten kam mir bei
              | dem Verkauf alter Computerteile. Mir gefiel die kurze Dauer
              | eines Geschäftsvorgangs sowie das Verpacken. Im Vergleich zur
              | Produktentwicklung, die ich zuvor versucht habe, kam man
              | wesentlich schneller zu Ergebnissen und hatte das Gefühl eine
              | Nachfrage direkt zu befrieden. Bei der Frage was man
              | schließlich Verkaufen könnte, war die Lösung, schnell klar:
              | Ich benötigte ein Gute, welches günstig im Großeinkauf war,
              | welches jeder Mensch brauch und welches man sich selber oft
              | drüber aufgeregt hat. So kam ich zu den Socken, da ich mein
              | Leben lang günstige Socken hatte, die schnell kaputt gingen
              | beziehungsweise einfach unangenehm zu tragen waren. Seit ich
              | die Socken von satisfeet ausprobiert habe, lebe ich ein ganz
              | anderes Leben, welches ich mit Anderen teilen möchte und das
              | Beste daran ist, dass wir ein Zeichen gegen kompromisslose
              | Gewinnmaximierung durch Kinderarbeit und Auslagerung der
              | Produktion. Den satisfeet Socken werden von einem
              | Famillienbetrieb in Deutschland gefertigt!
      div.row
        div.col-xs-10.col-xs-offset-1.col-md-10.col-md-offset-1.col-lg-12
          article#credits
            h4.text-center Danksagung
            p.text-justify
              | Vielen Dank an jeden der mich bei satisfeet, sei es durch
              | Motivation, Kritik, Ratschläge oder Ähnliches unterstützt.
              | Ohne Euch wäre satisfeet nicht möglich gewesen. Besonderer
              | Dank geht außerdem an die ersten beiden Sockenbesteller und an
              | die node.js Gemeinschaft für das Bereitsstellen vieler, guter
              | Werkzeuge, mit der ich diese Seite realisieren konnte.
