.navbar-collapse {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.navbar-default {
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
}

.navbar-default .navbar-nav {
  font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 20px;
}

.navbar-default .navbar-brand {
  color: @gray;
  font-size: 30px;
  font-weight: 100;
  line-height: 24px;
}

.navbar-default .navbar-brand:hover {
  color: @black;
}
